@media (max-width: 600px) {
    .deuses-slider {
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 30px;
        height: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lista-deuses {
        height: 480px;
    }

    .cartao .imagem-deuses {
        max-height: 230px;

    }

    .cartao .iformacoes .nome {
        max-width: 50px;
        font-size: 18px;

    }

    .cartao .informacoes {
        font-size: 14px;
    }
}





